<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727441168093-1abc9qvqlng9m0sqdtp8tttpik1gbspp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727441168093-1abc9qvqlng9m0sqdtp8tttpik1gbspp</string>
	<key>API_KEY</key>
	<string>AIzaSyAYwUZ7NgxfVE9PWFnSzdr0OMAsLiOQrbw</string>
	<key>GCM_SENDER_ID</key>
	<string>727441168093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lectura.lectura</string>
	<key>PROJECT_ID</key>
	<string>lectura-6e3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>lectura-6e3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727441168093:ios:3b29428c826f861dc7ad34</string>
</dict>
</plist>